streamlit
pandas
numpy
matplotlib
requests
click<=8.0.4
GoogleNews
streamlit-timeline
plotly.express
pytz
deep-translator
google-generativeai
gTTS
streamlit_chat
python-docx
#python-docx pillow
enelvo
wordcloud
